<p>What is &quot;software defect prediction&quot;??</p>
<p><br></p>
<p>Software code is composed by several components and testing all can be very expensive. Predictive models are based on knowing which components are more likely to be defective, using past software releases and bug fixes.&nbsp;</p>
<p><br></p>
<p>Software complexity is one of the most important quality attribute that affect the success of software.&nbsp;</p>
<p>It can be usefull to predict software complexity with regard to some basic attribute, identifing which feature is more important in order to predict it. &nbsp;</p>
<p><br></p>
<p>In this paper the data used presented 22 feature:</p>
<p><br></p>
<p>1-4: <strong>McCabe&rsquo;s attribute</strong> = Code with complicated path are more likely to be defected</p>
<ul>
    <li>1. <strong>loc</strong>: line of the code</li>
    <li>2. <strong>v(g)</strong>: &ldquo;cyclomatic complexity&rdquo; = The number of linearly independent path (number of path that should be tested)</li>
    <li>3. <strong>ev(g):</strong> &ldquo;essential complexity&rdquo; = Misure of the quality of the code</li>
    <li>4. <strong>iv(g)</strong>: &ldquo;design complexity&rdquo; = Misure the amount of interaction between classes</li>
</ul>
<p>5-15: &nbsp;<strong>Halstead&rsquo;s attribute</strong> = Code that are hard to read are more likely to be defected</p>
<p>Before: other attribute (17-20):</p>
<ul>
    <li>17: <strong>uniq_Op =</strong> number of distinct operators</li>
    <li>18:<strong>&nbsp;uniq_Opnd</strong>&nbsp;= number of distinct operand</li>
    <li>19: <strong>total_Op</strong>&nbsp;= total of operators</li>
    <li>20: <strong>total_Opnd</strong>&nbsp;= total of operands</li>
</ul>
<p><br></p>
<ul>
    <li>5.<strong>&nbsp;n:</strong> uniq_Op + uniq_Opnd&nbsp;</li>
    <li>6. <strong>v:</strong> volume = n &times; log_2(⁡𝑛)</li>
    <li>7. <strong>l:</strong> program length = total_Op + total_Opnd</li>
    <li>8. <strong>d:</strong> difficulty = &quot;uniq_Op&quot;/2 &times; &quot;total_Opnd&quot;/&quot;uniq_Opnd&quot;&nbsp;</li>
    <li>9. <strong>i:</strong> intelligence = 1/𝑑 &times; 𝑣</li>
    <li>10.<strong>&nbsp;e:</strong> effort &nbsp;= 𝑣^2/((𝑛+&quot;uniq_Opnd&quot;)log_2⁡((2+&quot;uniq_Opnd&quot; )))</li>
    <li>11. <strong>b:</strong> &nbsp;((𝑛+&quot;uniq_Opnd&quot;)log_2⁡((2+&quot;uniq_Opnd&quot; )))/𝑣</li>
    <li>12.<strong>&nbsp;t:</strong> &nbsp;time = (𝑑 &times; 𝑣)/18</li>
    <li>13. <strong>lOCode</strong>: total line of code&nbsp;</li>
    <li>14. <strong>lOComment:</strong> line of comment&nbsp;</li>
    <li>15. <strong>lOBlank:</strong> blank lines</li>
</ul>
<p><br></p>
<p>+ (derived attribute)&nbsp;</p>
<ul>
    <li>16. lOCodeandComment: lOCode + lOComment&nbsp;</li>
</ul>
<p><br></p>
<ul>
    <li>21: branchCount total of the branch of the flow-graph</li>
    <li>22: Defect:&nbsp;</li>
</ul>
<p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>&quot;True&quot; if the program has not one or more defects</p>
<p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>&quot;False&quot; if the program has one or more defects</p>